[Desktop Entry]
Name=Xevil
Comment=A fast-action violent game for the X Window System
Comment[de]=Ein schnelles, extrem gewalttätiges Actionspiel für X
Comment[fr]=Un jeu d'action rapide et très violent sous X
Comment[pl]=Brutalna gra o szybkiej akcji pod System X Window
Comment[tr]=Hızlı ve şiddet yüklü bir X oyunu
Icon=xevil.png
Exec=xevil
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
